version: '3.8'

services:
  app:
    build: .
    container_name: dotnet_app
    restart: always
    ports:
      - "5000:5000"
    networks:
      - webnet

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - webnet

networks:
  webnet:
